In [35]:
my_lists = {
    'product_id': [23, 96, 97, 15, 87],
    'name': ['computer', 'Python Workout', 'Pandas Workout', 'banana', 'sandwich'],
    'wholesale_price': [500,35, 35, 0.5, 3],
    'retail_price':[1000,75,75,1,5],
    'sales':[100, 1000, 500, 200,300]
}
import pandas as pd 

df = pd.DataFrame(my_lists)
df

   product_id            name  wholesale_price  retail_price  sales
0          23        computer            500.0          1000    100
1          96  Python Workout             35.0            75   1000
2          97  Pandas Workout             35.0            75    500
3          15          banana              0.5             1    200
4          87        sandwich              3.0             5    300

In [36]:
#Step 2:  Calculate the Total Profit for each product using the formula
#formula => net_revenue_per_product = (retail_price - wholesale price) * sales

df['net_rev_each'] = (df['retail_price'] - df['wholesale_price']) * df['sales']

#Calculate total profit per product => Net_revenue_per_product - (Wholesale_price * Sales)

df['total_prf_each'] = df['net_rev_each'] - (df['wholesale_price'] * df['sales'])

df

,product_id,name,wholesale_price,retail_price,sales,net_rev_each,total_prf_each
0,23,computer,500.0,1000,100,50000.0,0.0
1,96,Python Workout,35.0,75,1000,40000.0,5000.0
2,97,Pandas Workout,35.0,75,500,20000.0,2500.0
3,15,banana,0.5,1,200,100.0,0.0
4,87,sandwich,3.0,5,300,600.0,-300.0

In [37]:
#total net revenue received from all of the sales

total_net_revenue = df['net_rev_each'].sum()

print(f'Total net revenue received from all sales is $:', '%.2f' % total_net_revenue)

Total net revenue received from all sales is $: 110700.00

In [38]:
#What product is product retail price more than twice the wholesale price?
#boolean mask using the > operator 
more_than_2 = df['retail_price'] > (2 * df['wholesale_price'])

#more_than_2_name = df.loc[more_than_2, 'name'].iloc[0:4] #fix this
more_than_2_name = df['name'][more_than_2]

print(f"The product with retail price more than twice the wholesale price is:\n{more_than_2_name}")

The product with retail price more than twice the wholesale price is:
1    Python Workout
2    Pandas Workout
Name: name, dtype: object

In [39]:
#How much did the store make from food vs. computers vs. books?
#create dictionary to store categories
name_categories= {
    'computer': 'computers',
    'Python Workout': 'books',
    'Pandas Workout': 'books',
    'banana': 'food',
    'sandwich': 'food'
}

#add a category column to the DataFrame with the dictionary
#map product names to categories
df['category'] = df['name'].map(name_categories)

#group the DataFrame by category using the groupby method. Calculate the sum of the net_rev_each column
category_revenue = df.groupby('category')['net_rev_each'].sum()

print('Revenue by category:',category_revenue)

Revenue by category: category
books        60000.0
computers    50000.0
food           700.0
Name: net_rev_each, dtype: float64

In [41]:
# Calculate new net revenue with 30% discount on wholesale price
df_copy = df.copy()
df['wholesale_price'] = 0.7 * df_copy['wholesale_price']

#copy paste from step 2
df_copy['net_rev_each'] = (df_copy['retail_price'] - df_copy['wholesale_price']) * df_copy['sales']

df_copy['total_prf_each'] = df_copy['net_rev_each'] - (df_copy['sales'] * df_copy['wholesale_price'])

total_net_revenue = df_copy['net_rev_each'].sum()

print(f'Total net revenue received from all sales is $:', '%.2f' % total_net_revenue)

Total net revenue received from all sales is $: 141750.00

In [42]:
#Add new columns of 15%,20% and 25% of the net income 
df['net_rev_15%'] = df['net_rev_each']*0.85
df['net_rev_20%'] = df['net_rev_each']*0.8
df['net_rev_25%'] = df['net_rev_each']*0.75
df
df[['net_rev_15%' ,'net_rev_20%' , 'net_rev_25%']]

   net_rev_15%  net_rev_20%  net_rev_25%
0      42500.0      40000.0      37500.0
1      34000.0      32000.0      30000.0
2      17000.0      16000.0      15000.0
3         85.0         80.0         75.0
4        510.0        480.0        450.0